<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap-5.2.2-dist/css/bootstrap.min.css" />
  </head>
  <body>
    <% data.forEach(data=>{%>
    <h1 class="m-3">
      <%= data.unit_name %> - <span class="text-muted h6">Edit</span>
    </h1>
    <form class="form" action="edit-single/<%= data.id %>">
      <div class="form-group m-3">
        <label>Unt name</label>
        <input class="form-control" type="text" value="<%= data.unit_name %>" />
      </div>

      <div class="form-group m-3">
        <label>Monthly rent</label>
        <input
          class="form-control"
          type="number"
          value="<%=data.monthly_rent %>"
        />
      </div>

      <button class="btn btn-success m-3">Submit</button>
    </form>
    <% }) %>
  </body>
</html>
