<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Room</title>
  </head>
  <body>
    <div>
      <% data.forEach(data=>{%>
      <h1><%= data.unit_name %></h1>

      <hr />
      <ul>
        <li>ID- <%= data.id %></li>
        <li>Rent- <%= data.monthly_rent %></li>
      </ul>

      <% }) %>
    </div>
  </body>
</html>
